@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

body {
    font-family:Lato;
}

a {
    text-decoration: none;
}

form input:focus {
    outline: none;
}

.clearfix {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto;

}

.wrapper {
    width: 1141px;
    margin: 0 auto;
}
.header {
    border-style: solid;
    border-width: 1px;
    border-color: #ececec;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    height: 100px;

}

.logo {
    float: left;
}

.logo_img {
    display: block;
    padding-top: 25px;
    float: left;
}

.logo_label {
    font-family: Lato;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 13px;
    display: block;
    float: left;
}

.logo_label span {
    font-family: Lato;
    color: #f16d7f;
    font-size: 27px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    /*line-height: 32px; /!* Приближение из-за подстановки шрифтов *!/*/
    text-align: center;
}


.search {
    float: left;
    margin-top: 32px;
    margin-left: 37px;
    box-sizing: border-box;
    position: relative;

}

.search .browse {
    /*display: inline-block;*/
    display: block;
    float: left;
    font-family: LatoRegular;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    background: url("../img/browse.png") 69px 16px no-repeat, -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
    padding: 12px 26px 14px 15px;
    box-sizing: border-box;
    width: 87px;
    height: 38px;

}


.drop-down {
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px 12px 20px 18px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);

}

.browse_drop_down {
    top: 38px;
    left: -3px;
    width: 262px;
    z-index: 5;

}

.browse_drop_down .arrow {
    position: absolute;
    width: 17px;
    height: 7px;
    top: -7px;
    left: 69px;
    background: url("../img/arrow_drop_down.png") no-repeat;
}

.browse_drop_down h4 {
    display: block;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 6px;
    line-height: 32px;
    text-align: left;
}

.browse_drop_down ul {
    margin-bottom: 5px;
    list-style-type: none;
}

.browse:hover .browse_drop_down {
    display: block;
}

.browse_drop_down li a {
    display: block;
    text-align: left;
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-left: 4px;
    text-decoration: none;
}

.browse_drop_down li a:hover {
    font-weight: 600;
    color: #f16d7f;
}



.search form {
    float: left;
}

.search .field_search {
    display: block;
    float: left;
    font-family: Lato;
    color: #a4a4a4;
    font-size: 14px;
    padding: 14px 16px;
    box-sizing: border-box;
    width: 231px;
    border: 1px solid #e6e6e6;
    height: 38px;

}

.search .btn_search {
    float: left;
    display: block;
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    width: 35px;
    height: 38px;
    background: url("../img/btn_search.png") 50% 50% no-repeat;
}

.account {
    float: right;
    padding: 31px 0 0 0;
    position: relative;
}

.account a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}


.account .basket {

    display: block;
    float: left;
    width: 32px;
    height: 29px;
    padding-top: 9px;
    background: url("../img/basket.png") 50% 50% no-repeat;

}

.basket .basket_quantity {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f16d7f;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    color: #ffffff;
    left: 22px;
    top: 30px;
}

.basket_drop_down {
    width: 262px;
    height: 440px;
    box-sizing: border-box;
    top: 68px;
    left: -14px;
    padding: 0 17px 21px 17px;

}

.basket:hover .basket_drop_down {
    display: block;

}

.basket_drop_down .basket-item {
    padding-bottom: 14px;
    padding-top: 20px;
}

.basket-item .star {

    color: #e4af48;
    font-weight: 400;
    text-align: left;
    font-size: 13px;
    margin-left: 0;
    margin-top: 6px;

}

.basket-item .btn-close {
    background: url("../img/close.png") no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 45%;
}

.basket-item img {
    padding-right: 16px;

}

.dropdown-button {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: 225px;
    height: 50px;
    padding-top: 12px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #ffffff;
}

.basket_drop_down .button-checkout {
    margin-top: 30px;
    margin-left: 1px;
    border: 1px solid #f16d7f;
    color: #f16d7f;
}

.basket_drop_down .button-cart {
    margin-top: 11px;
    margin-left: 1px;
    background-color: #ffffff;
    color: #4a494a;
    border: 1px solid #e6e6e6;
}

.basket_drop_down .basket-item {
    position: relative;
    height: 85px;
    /*padding-bottom: 12px;*/
    /*padding-left: 85px;*/
    /*padding-top: 3px;*/
    border-bottom: 1px solid #e8e8e8;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

}

.basket_drop_down .basket-price {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
}


.account .my_account {
    display: block;
    float: left;
    background: url("../img/btn_accaunt.png") 109px 16px no-repeat #f16d7f;
    width: 130px;
    height: 38px;
    box-sizing: border-box;
    padding: 13px 29px 11px 19px;
    margin-left: 26px;

}

.navigation {
    background-color: #ffffff;
    height: 50px;
    padding-bottom: 1px;
}

nav {
    text-align: center;
}

.navigation li {
    display: inline-block;
    box-sizing: border-box;
}

.navigation li a {
    font-family: Lato;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px;
    display: block;

}
/* сделать анимацию */


.slider {
    background: #e8e8e8 url("../img/slider.jpg") no-repeat top left;
    background-size: cover;
    /*background-color: #e8e8e8;*/
    height: 665px;
    box-sizing: border-box;
    padding-top: 1px;
}

.slider .slider_men {
    background: url("../img/slider.jpg") no-repeat;
    margin: 0 auto;
    width: 1365px;
    height: 665px;
    padding-top: 1px;
    box-sizing: border-box;
}

.slider .slider_men_title {
    font-family: Lato;
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    border-left: 12px solid #f16d7f;
    height: 92px;
    padding-left: 12px;
    line-height: 45px;
    margin-top: 224px;

}

.slider_men_title span:first-child {
    font-size: 60px;

}

.slider_men_title span:last-child {
    color: #f16d7f;
}


.sale {
    padding-top: 98px;
    box-sizing: border-box;
}

.sale a {
    display: block;
    width: 560px;
}


.sale .label {
    background-color: white;
    height: 82px;
    float: left;
    padding: 19px;
    margin-top: 26px;
    max-width: 282px;
    box-sizing: border-box;
    color: #222222;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}


.label span {
    color: #f16d7f;
    font-size: 30px;
    font-weight: 900;
}

.sale .sale_left_col {
    float: left;
}

.sale_left_col .men {
    height: 542px;
    background: url("../img/saleForMen.jpg") 50% 50% no-repeat;
}

.sale_left_col .accesories {
    background-color: #dadad2;
    height: 261px;
    background: url("../img/saleLux.jpg") 50% 50% no-repeat;
    margin-top: 20px;
}

.sale .sale_right_col {
    float: right;
}

.sale_right_col .women {
    height: 261px;
    background: url("../img/saleWomen.jpg") 50% 50% no-repeat;
}

.sale_right_col .kids {
    height: 542px;
    background: url("../img/saleForKids.jpg") 50% 50% no-repeat;
    margin-top: 20px;
}


.featured {
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
}

.featured h1 {
    font-size: 30px; /* ����������� ��-�� ����������� ������� */
    font-weight: 700;
}

.featured p {
    color: #9f9f9f;
    font-size: 14px; /* ����������� ��-�� ����������� ������� */
    font-weight: 400;
}

.featured .catalog {
    padding-top: 59px;
}

.catalog .catalog_item {
    width: 261px;
    height: 342px;
    display: block;
    margin-right: 28px;
    float: left;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Lato;
    text-align: left;

}

.catalog .catalog_item:hover .catalog_item_hover {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.59);
    width: 261px;
    height: 282px;
    padding: 98px 68px 0 71px;
    box-sizing: border-box;

}

.catalog_item:nth-child(4), .catalog_item:nth-child(8) {
    margin-right: 0px;
}

.catalog_item > p {
    padding-left: 15px;
}

.catalog_item .name {
    color: #222222;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.5;
}

.catalog_item .price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}


.product_item-hover {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.59);
    width: 261px;
    height: 282px;
    padding: 98px 68px 0 71px;
    box-sizing: border-box;
}

.catalog_item:hover .product_item-hover {
    display: block;
}

.catalog_item {
    position: relative;
}

.product_item {
    position: relative;
}

.product_item-link {
    text-decoration: none;
}

.product_item-link .btn-cart {
    display: block;
    top: 98px;
    left: 71px;
    width: 121px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    padding: 10px 8px 12px 42px;
    background: url(../img/basket_drop-down.png) no-repeat;
    background-position-x: 11px;
    background-position-y: 8px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;
    cursor: pointer;
    display: block;
}


.featured .btn_all_product {
    margin-top: 80px;
    margin-bottom: 150px;
    text-decoration: none;
    background: url("../img/btn_all_product.png") 178px 20px no-repeat #f16d7f;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    box-sizing: border-box;
    display: inline-block;
    padding: 14px 43px 19px 24px;
}

.featured .info {

    background-color: #222224;
    width: 1139px;
    height: 529px;
    margin: 0 auto;
    background-image: url("../img/info.jpg");
    background-repeat: no-repeat;
    color: #ffffff;
}

.info .banner_label {
    float: left;
    font-size: 54px;
    font-weight: 700;
    margin-top: 146px;
    margin-left: 39px;
    text-align: left;
}

.info .banner_label span {
    color: #f16d7f;
}

.info .banner_right_column {
    float: right;
    padding-right: 43px;

}

.banner_right_column > div {
    margin-top: 48px;
}

.info .banner_right_column p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.info .banner_right_column h3 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 1.8;
}

.banner_right_column .share_img {
    display: block;
    float: left;
    padding-right: 33px;
}

.banner_right_column .share_info {
    float: left;
    padding-bottom: 62px;
}


.subscribe {
    background-color: rgba(242, 242, 242, 0.5);
    height: 438px;
    background-image: url("../img/subscribe.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.subscribe_wrapper {
    width: 1140px;
    margin: 0 auto;
}

.subscribe .left_column_subscribe {
    padding-top: 130px;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.left_column_subscribe .face {
    display: block;
    float: left;
}

.left_column_subscribe .text_comment {
    float: left;
    padding-left: 12px;

}

.text_comment p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-style: italic;
    line-height: 26px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    font-weight: bold;
}

.text_comment .caption {
    padding-top: 19px;
    color: #222224;
    font-size: 12px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 14px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.caption span {
    font-family: Lato;
    color: #f16d7f;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;

}

.subscribe .right_column_subscribe {
    width: 50%;
    float: right;
    padding-top: 148px;
    box-sizing: border-box;
    padding-left: 80px;

}

.right_column_subscribe > div {
    width: 386px;
    text-align: center;
}

.right_column_subscribe h3 {
    color: rgba(34, 34, 36, 0.67);
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;

}

.right_column_subscribe p {
    color: rgba(34, 34, 36, 0.67);
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;

}

.right_column_subscribe .subscribe_form {
    width: 386px;
    height: 46px;
    display: block;

}

.subscribe_form .input_subscribe {
    background-color: #e1e1e1;
    width: 282px;
    height: 46px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
    float: left;
    border: none;
    padding-left: 28px;
    box-sizing: border-box;

}

.subscribe_form button {
    background-color: #f16d7f;
    width: 104px;
    height: 46px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: block;
    float: left;
    box-sizing: border-box;
    border: none;
    color: #ffffff;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}

footer {
    padding-top: 129px;

}

footer p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

}

footer .logo {

}

footer .logo .logo_img {
    padding-top: 0px;
}

footer .logo .logo_label {
    padding-left: 13px;
    display: inline;
    vertical-align: middle;
    padding-top: 14px;
}

footer p {
    margin-top: 29px;
}

footer .footer_column {
    float: left;
}

.footer_column ul {
    list-style-type: none;
}

.footer_column ul li {
    padding-bottom: 15px;
}

.footer_column ul a {
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    font-weight: 400;

}

.column1 {
    padding-right: 64px;
    box-sizing: border-box;
}

.column2 {
    padding-right: 129px;
    box-sizing: border-box;
}

.column3 {
    padding-right: 80px;
    box-sizing: border-box;
}

.footer_column h4 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 45px;
}

.footer_bottom {
    background-color: #e6e6e6;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    height: 79px;
    box-sizing: border-box;
    padding-top: 33px;
    font-family: Lato;
    margin-top: 89px;
}

.footer-main_social-buttons {

}

.footer-main_item {
    display: inline-block;
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    margin-right: 4.5px;
}

.footer-main_link {
    display: inline-block;
    padding: 7px 0 0 8px;
    height: 32px;
    width: 32px;
    text-decoration: none;
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.footer-main_list:last-child {
    margin-right: 14px;
}


.breadcrumbs {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.breadcrumbs .wrapper {
    padding: 65px 0;
}

.breadcrumbs .wrapper > span {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.breadcrumbs .breadcrumbs_menu {
    list-style-type: none;
    float: right;
}

.breadcrumbs_menu li {
    float: left;
}

.breadcrumbs_menu li span {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
}

.breadcrumbs_menu li a {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.breadcrumbs_menu li a.active {
    color: #f16d7f;
    font-weight: 700;
}

.slider_category {
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #f7f7f7;
    height: 777px;
    position: relative;
    z-index: 1;
}

.slider_category .btn_back, .slider_category .btn_next {
    position: absolute;
    background-color: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    display: block;
}

.btn_back {
    left: 0;
    top: 47%;
    background: url("../img/slider_btn_down.png") 21px 17px no-repeat;

}

.btn_next {
    right: 0;
    top: 47%;
    background: url("../img/slider_btn_next.png") 18px 17px no-repeat;

}

.slider_category .category_bg {
    width: 597px;
    height: 724px;
    background: url("../img/category_bg.jpg") no-repeat;
}


.cart_collection {
    margin-top: -86px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    box-sizing: border-box;
    background-color: #ffffff;
    /*width: 1141px;*/
    height: 730px;
    z-index: 2;
    position: relative;
    text-align: center;
}

.cart_collection .cart_collection_wrapper {
    width: 615px;
    margin: 0 auto;
    padding-top: 73px;
}

.cart_collection .desc_collection {
    text-align: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 43px;
}

.desc_collection h4 {
    color: #f16d7f;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 17px;
    /*border-bottom: 1px solid #eaeaea;*/

}

.desc_collection h3 {
    color: #4d4d4d;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 67px;
}

.desc_collection p {
    color: #5e5e5e;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 28px;
}

.desc_collection span {
    color: #b9b9b9;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-transform: uppercase;
}

.desc_collection span span {
    color: #2f2f2f;
}

.desc_collection span.material {
    margin-right: 44px;
}

.desc_collection > span:first-child {

}

.desc_collection .price {
    color: #ef5b70;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    margin-top: 37px;
}

.cart_collection .choice_param {

}

.choice_param {
    margin-top: 63px;
}

.choice_param .choice_param_column {
    margin-right: 54px;

}

.choice_param div.choice_param_column:first-child {
    margin-left: 20px;
}

/*Почему то не отрабатывает*/
.choice_param_column:last-child {
    margin-right: 0px;
}

.last_elem {
    margin-right: 0px;
}

.choice_param_column .select_choise select, .choice_param_column input {
    border-radius: 0;
    padding-left: 37px;
    /*padding-top: 12px;*/
    box-sizing: border-box;
    line-height: 1;
    -webkit-appearance: none;
    width: 144px;
    height: 35px;
    color: #bcbcbc;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    border-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    background-color: #ffffff;
}

.select_choise {
    /*margin-right: 53px;*/
}

.choice_param .btn_add_to_cart {
    border-style: solid;
    border-width: 1px;
    border-color: #ef5b70;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 537px;
    height: 55px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #ef5b70;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    vertical-align: middle;
    margin: 0 auto;
    padding: 18px 0;
    margin-top: 28px;
}


.product_images {
    margin-top: 119px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 94px;

}

.product_images h2 {
    text-transform: uppercase;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
}

.product_images .catalog {
    margin-top: 72px;

}